#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
 #nav li{
    margin: 5px;
    padding: 10px 15px;
 }

 #nav li:hover{
    background-color: rgb(136, 202, 169);
 }
 #nav a{
    text-decoration: none;
 }
 /*Modelo de la caja*/
 .padre{
   background-color: aquamarine;
   padding: 20px;
 }
 .hijo{
   background-color: darksalmon;
   padding: 100px;
   border: 20px solid blue;
   margin: 30px;
 }
 /*Componente*/
 #contenedor{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: chocolate;
   gap: 1rem;
 }
 .card{
   width: 200px;
   background-color: #ffff;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0 4px 8px black;
 }
 .card img{
   width: 100%;
   border-radius: 8px;

 }
.card p{
   color: #ffff;
   background-color: black;
}